*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TolkienFont';
    src: url('anirb___.ttf') format('truetype');
}
@font-face {
    font-family: 'TolkienFont2';
    src: url('tolkien.TTF') format('truetype');
}

header{
    height: 90px;
    background-color: #252e19;
    display: flex;
    align-items: center;
}
#logo{
    flex-basis: 35%;
    text-align: center;
}

#logo img{
    height: 90px;
    width: 150px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#navSup{
    width: 100%;
    margin-right: 10%;
}
.elementosNav{
    color: #DBBD69;
    flex-basis: 25%;
    font-family: 'TolkienFont', sans-serif;
    text-decoration: none;
}


#hero{
    height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hero.png);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'TolkienFont2', sans-serif;
}

#hero div{
    font-weight: 1000;
    text-shadow: #DBBD69 1px 0 10px;
    color:#ffffff;
}

.botonHero{
    width: 200px;
    height: 50px;
    background-color: #DBBD69;
    border-radius: 5px;
    border-color: #2D1E10;
    font-size: 18px;
    font-family: 'TolkienFont2', sans-serif;
}
.botonHero:hover{
    cursor: pointer;
}

#titulo{
    font-size:50px;
}

#subtitulo{
    font-size: 35px;
}



.main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#principio{
    text-align: center;
}

footer{
    height: 100px;
    background-color: #252e19;
    display: flex;
    justify-content:center ;
    align-items: center;
}
footer p{
    color: #DBBD69;
}