*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TolkienFont';
    src: url('anirb___.ttf') format('truetype');
}

header{
    height: 90px;
    background-color: #252e19;
    display: flex;
    align-items: center;
}
#logo{
    flex-basis: 35%;
}

#logo img{
    height: 90px;
    width: 150px;
    margin-left: 30%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#navSup{
    width: 100%;
    margin-right: 10%;
}
.elementosNav{
    color: #DBBD69;
    flex-basis: 16.67%;
    font-family: 'TolkienFont', sans-serif;
}


#hero{
    height: 900px;
    background-image: url(hero.png);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#hero div{
    color: #2D1E10;
}

#titulo{
    font-size:xx-large;
}

#subtitulo{
    font-size: x-large;
}



footer{
    height: 100px;
    background-color: #252e19;
    display: flex;
    justify-content:center ;
    align-items: center;
}
footer p{
    color: #DBBD69;
}