@font-face {
    font-family: 'TolkienFont';
    src: url('anirb___.ttf') format('truetype');
}

@font-face {
    font-family: 'TolkienFont2';
    src: url('tolkien.TTF') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    background-color: #252e19;
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

#logo {
    flex-basis: 35%;
    text-align: center;
}

#logo img {
    height: 90px;
    width: 150px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#navSup {
    width: 100%;
    margin-right: 10%;
}

.elementosNav {
    color: #DBBD69;
    flex-basis: 25%;
    font-family: 'TolkienFont', sans-serif;
    text-decoration: none;
}


#hero {
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'TolkienFont2', sans-serif;
}

#hero div {
    font-weight: 1000;
    text-shadow: #DBBD69 1px 0 10px;
    color: #ffffff;
}

.boton-contacto,
.botonHero {
    background-color: #DBBD69;
    color: #2D1E10;
    font-family: 'TolkienFont2', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-contacto:hover,
.botonHero:hover {
    background-color: #f0d29e;
}

#titulo {
    font-size: 50px;
}

#subtitulo {
    font-size: 35px;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Cinzel', serif;
}

.icono {
    width: 20%;
    height: 20%;
}

#principio {
    text-align: center;
    font-size: larger;
}

.introduccion {
    text-align: center;
    margin-top: 50px;
}

#destinos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.ejemplos {
    flex-basis: 45%; 
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
}

.ejemplos img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 25px;
}

.tituloEjemplo {
    text-align: center;
}

.subtituloEjemplo {
    margin-top: 10px;
    text-align: justify;
}

#contacto {
    background-color: #2D1E10;
    color: #DBBD69;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-top: 20px;
}

#contacto .texto-contacto p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.boton-contacto {
    background-color: #DBBD69;
    color: #2D1E10;
    font-family: 'TolkienFont2', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-contacto:hover {
    background-color: #f0d29e;
}

footer {
    height: 100px;
    background-color: #252e19;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #DBBD69;
    font-family: 'Cinzel', serif;
}


@media (max-width: 1024px) {
    #hero {
        height: 500px;
    }

    #titulo {
        font-size: 40px;
    }

    #subtitulo {
        font-size: 30px;
    }

    main {
        margin-left: 50px;
        margin-right: 50px;
    }

    #destinos {
        flex-direction: column;
    }

    .ejemplos {
        flex-basis: 100%; 
        margin-left: 0;
        margin-right: 0;
    }

    .ejemplos img {
        width: 100%; 
    }
}


@media (max-width: 768px) {
    #hero {
        height: 400px;
    }

    #titulo {
        font-size: 35px;
    }

    #subtitulo {
        font-size: 25px;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    #destinos {
        flex-direction: column;
    }

    .ejemplos {
        flex-basis: 100%; 
        margin-bottom: 20px;
    }

    .ejemplos img {
        width: 100%; 
    }

    .botonHero {
        width: 100%;
        font-size: 16px;
        padding: 12px;
    }

    .boton-contacto {
        width: 100%;
        font-size: 16px;
        padding: 12px;
    }

    footer p {
        font-size: 14px;
    }
}
