@font-face {
    font-family: 'TolkienFont';
    src: url('anirb___.ttf') format('truetype');
}
@font-face {
    font-family: 'TolkienFont2';
    src: url('tolkien.TTF') format('truetype');
}

@font-face {
    font-family: 'Cinzel' ;
    src: url('Cinzel-Regular.otf');
}
*{
    margin: 0;
    padding: 0;
}


header{
    height: 90px;
    background-color: #252e19;
    display: flex;
    align-items: center;
}
#logo{
    flex-basis: 35%;
    text-align: center;
}

#logo img{
    height: 90px;
    width: 150px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#navSup{
    width: 100%;
    margin-right: 10%;
}
.elementosNav{
    color: #DBBD69;
    flex-basis: 25%;
    font-family: 'TolkienFont', sans-serif;
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Cinzel', serif;
}

.grid-servicios{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#servicio1{
    grid-column: 1/3;
    margin-top: 50px;
    margin-bottom: 50px;
   text-align:center; 
}   

.icono {
    margin-top: 10px; 
}

.icono img {
    width: 30px;
    height: auto; 
}

#contacto {
    background-color: #2D1E10;
    color: #DBBD69;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Cinzel', serif;
    position: relative;
}

#contacto .texto-contacto p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.boton-contacto {
    width: 200px;
    height: 50px;
    background-color: #DBBD69;
    color: #2D1E10;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'TolkienFont2', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-contacto:hover {
    background-color: #f0d29e;
}
footer{
    height: 100px;
    background-color: #252e19;
    display: flex;
    justify-content:center ;
    align-items: center;
}
footer p{
    color: #DBBD69;
    font-family: 'Cinzel', serif;
}